@import './base.css';
@import './reset.css';

#app {
  font-weight: normal;
  height: 100vh;
  padding: 0;
  width: 100%;
  margin: 0;
  max-width: none;
}

a,
.green {
  text-decoration: none;
  color: #0c95e4;
  transition: 0.4s;
}
